.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

h1 {
    background-color: black;
    color: red;
    padding: 10px;
}

.tile {
    height: 50px;
    width: 50px;
    border: none;
}

.checkerboard {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

